.headerContainer{
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight: bold;
}
.headerLink:visited{
  text-decoration: none;
  color: rgb(77, 77, 236);
}
.frontTitle{
  text-align: center;
  position: relative;
  top: 15%;
  font-size: 3rem;  
  font-weight: bold;
}
.frontInfo{
  text-align: center;
  position: relative;
  top: 10%;
  font-size: 1rem;
}
.backGround{
  height: 90vh;
  background-image: url('https://cdn.pixabay.com/photo/2020/04/08/10/18/nature-5016781_960_720.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.zooAnimals{
  border: 1px solid black;
  width: 50%;
  margin-bottom: 1%;
  list-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.zooTitle{
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
.zooLink{
  font-weight: bold;
}
.zooLink:visited{
  text-decoration: none;
  color: rgb(77, 77, 236);
}
.zooPicture{
  width: 100%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.printZooPicture{
  width: 400px;
  height: 400px;
}
.printAnimal{
  margin-left: 1%;
  font-size: 15px;
}
.printTitle{
  font-weight: bold;
  text-decoration: underline;
}
.notFoundBody{
  height: 90vh;
}
.notFound{
  text-align: center;
  position: relative;
  top: 40%;
  font-size: 3rem;
}
